*
aig-client-core aig-common-api aig-common-utils antlr aopalliance asm avalon-framework axis backport-util-concurrent ch classworlds com commons-beanutils commons-chain commons-cli commons-codec commons-collections commons-digester commons-discovery commons-fileupload commons-httpclient commons-io commons-lang commons-logging commons-net commons-validator dom4j io javax jdom jline jtidy junit log4j logkit longshine mysql net org oro plexus redis sslext wsdl4j xerces xml-apis xml-resolver xmlpull xmlunit xpp3
*
aig-client-core aig-common-api aig-common-utils antlr aopalliance asm avalon-framework axis backport-util-concurrent ch classworlds com commons-beanutils commons-chain commons-cli commons-codec commons-collections commons-digester commons-discovery commons-fileupload commons-httpclient commons-io commons-lang commons-logging commons-net commons-validator dom4j io javax jdom jline jtidy junit log4j logkit longshine mysql net org oro plexus redis sslext wsdl4j xerces xml-apis xml-resolver xmlpull xmlunit xpp3
